# ==========================================
# Configuración de AWS S3
# ==========================================
# Nombre del bucket principal donde se guardan los datos (raw, procesados) y modelos
# Ej: pln
S3_BUCKET_NAME=tu_bucket_principal_aqui

# ==========================================
# Configuración de MLflow (Servidor EC2)
# ==========================================
# URL donde está alojado el servidor de MLflow Tracking
# Ej: http://ec2-xx-xx-xx-xx.compute-1.amazonaws.com:5000
MLFLOW_TRACKING_URI=http://<tu_ip_de_ec2>:5000

# Ruta del bucket de S3 exclusivo para los artefactos de MLflow
# Ej: s3://artifacts-mlflow-pln
MLFLOW_ARTIFACT_BUCKET=s3://tu_bucket_de_artefactos_aqui